

* {
  /*font-family: 'Roboto Mono';*/
  font-family: 'Montserrat', sans-serif;;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #f0f0f0;
}
body {
  padding: 60px 120px;
}

body.burst {
  background-image: radial-gradient(circle, #DDE8B9, #E8D2AE);
}

h1 {
  font-weight: 500;
}

h2 {
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: 800;
  color: #fc8f1a;
  /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);*/
}

body.nocursor {
  cursor: none;
}

.canvas-body {
  /*width: 640px;
  height: 480px;
  /*margin: 4rem auto;*/
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.mojs-body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #171717;
}



.back-button {
  position: fixed;
  top: 0;
  left: 3rem;
  padding: 1rem;

}


a, a:visited {
  color: #171717;
}
a:hover {
  text-decoration: none;
}

a.back-button, .description a { color: #fff}


ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  margin: 1rem 0;
}
li:before {
  content: "• ";
  color: #171717; /* or whatever color you prefer */
}

.description {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1.5rem 40px 40px;
  text-align: right;
  /*transform: skew(+45deg) rotate(-22deg);  */
}

.description h2,
.description p {
  color: #f1f1f1;
}

hr {
  border-color: #f1f1f1;
  border-top: none;
}

.description.dark p,
.description.dark h2 {
  color: #171717;
}

.description.dark hr {
  border-color: #171717;
  opacity: 0.5;
}



.description p.instructions {
  padding-top: 0.5rem;
  font-size: 0.9rem;
  opacity: 0.5;
  font-weight: 100;

}

.description p.credits {
  opacity: 0.5;
  font-size: 0.7rem;
  padding-top: 1rem;
  display: none;
}


main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category {
  flex: 0 1 45%;
  z-index: 1001;

  transform-style: preserve-3d;
  transform: translateZ(3em);
}





.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}


.logo {
  position: fixed;
  top: 2rem;
  left: 0;
  display: block;
  width: 120px;
  height: 120px;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-in-out;
  transition: transform 0.3s;
  transform: scale(1) translateX(-4rem);
}

.logo:hover {
  transform: scale(1.2) translateX(0);
}

.logo svg {
  width: 100%;
  height: 100%;
}


footer {
  width: 100vw;
  /*overflow-x: hidden;*/
  z-index: 999;
  position: fixed;
  background: #d8d7d7;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem 120px;
  color: #171717;
  text-align: left;
  /*transform: rotateY(-40deg);*/
}

footer:before {
  background: #e2e2e2;
  content: '';
  position: absolute;
  height: 20vw;
  width: calc(100% + 1rem);
  left: -1rem;
  top: -20vw;
  transform: skew(-60deg);
  transform-origin: bottom;
}
